body {
  background-image: linear-gradient(#51e2f5, #9df9ef, #edf756, #ffa8B6, #a28089);
   
}

.Ani{
  border: 1px solid black; 
  text-align: center;
  font-family: arial, helvetica, sans-serif;
}

.Work{
  text-align: center;
  border-top: 2px solid #dddddd;
  border-bottom: 2px solid #dddddd; 
  background-color: royalblue;
}

.Skills{
  font-size:21px;
}

.Education{
  font-size:21px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}
